body {
    padding-top: 40px;
}
%smallCenteredForm {
    max-width: 450px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    background: #fff;

    input {
        font-size: 16px !important;
        padding: 5px;
    }
}

.authForm {
    @extend %smallCenteredForm;

}
.registrationForm {
    @extend %smallCenteredForm;
    max-width: 500px !important;
}
